<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Joe's Awesome Bundle</string>
	<key>ordering</key>
	<array>
		<string>89971BA1-2434-4C76-AB62-B0D7FA1B342D</string>
		<string>BF586659-B57F-42E6-8CB9-53217F1483B8</string>
		<string>2BC7E04A-535F-46AC-BA25-EF61A2563454</string>
		<string>021A0A3F-AB28-4A25-ACBD-9204505D3D6D</string>
		<string>56D8928F-7463-429E-9CE6-94E3A87AF735</string>
		<string>50AD1B6E-2ECD-4F96-ABB2-4DD62FDB9C34</string>
		<string>D2790FC9-CCEB-43A6-B37F-A6C27837BAA9</string>
		<string>A8FF3515-1D40-4D4B-9E96-C4356837095F</string>
	</array>
	<key>uuid</key>
	<string>7C7D9E8C-8928-4FDE-B1D9-780ADDDDEFBA</string>
</dict>
</plist>
